<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekstorming.storymapper">

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.user.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.books.BookActivity" />
        <activity android:name=".ui.characters.CharactersActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.locations.LocationsActivity" />
        <activity android:name=".ui.locations.EditLocationActivity" />
        <activity android:name=".ui.locations.AddLocationActivity" />

        <receiver android:name=".ui.receivers.AdviceReceiver">
            <intent-filter>
                <action android:name="com.geekstorming.storymapper.writingadvice" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.user.RegisterActivity" />
        <activity android:name=".ui.BookManagerActivity" />
    </application>

</manifest>