<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekstorming.storymapper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.books.BookActivity" />
        <activity android:name=".ui.characters.CharactersActivity" />
        <activity android:name=".ui.characters.AddCharacterActivity" />
        <activity android:name=".ui.characters.EditCharacterActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.factions.FactionsActivity" />
        <activity android:name=".ui.factions.AddFactionActivity" />
        <activity android:name=".ui.factions.EditFactionActivity" />
        <activity android:name=".ui.locations.LocationsActivity" />
        <activity android:name=".ui.locations.EditLocationActivity" />
        <activity android:name=".ui.locations.AddLocationActivity" />
        <activity android:name=".ui.books.fragments.DetailBook_Fragment"></activity>
    </application>

</manifest>